<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Summary | GUDLFT Registration</title>
    </head>
    <body>
        <h2>Welcome, {{club['email']}} </h2>
        <p><a href="{{url_for('auth.logout')}}">Logout</a></p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {%endwith%}
        <p>Points available: {{club['points']}}</p>
        <p>Check the <a href="{{ url_for('booking.points') }}">list of clubs</a>.</p>
        <h3>Upcoming competitions:</h3>
        {% if competitions %}
        <ul>
            {% for comp in competitions%}
            <li>
                {{ comp['name'] }}<br />
                Date: {{ comp['date'] }}</br>
                Number of Places: {{ comp['number_of_places'] }}
                {% if comp['number_of_places']|int >0 %}
                <a href="{{ url_for('booking.book',competition=comp['name'],club=club['name'])|urlencode }}">Book Places</a>
                {% endif %}
            </li>
            <hr />
            {% endfor %}
        </ul>
        {% else %}
        <p>No upcoming competitions available.</p>
        {% endif %}
        <h3>Past competitions:</h3>
        {% if past_competitions %}
        <ul>   
            {% for comp in past_competitions %}
            <li>
                {{ comp['name'] }}<br />
                Date: {{ comp['date'] }}</br>
                Number of Places: {{ comp['number_of_places'] }}
            </li>
            <hr />
            {% endfor %}
        </ul>
        {% else %}
        <p>No past competitions available.</p>
        {% endif %}
       

    </body>
</html>